<html>
    <head>
        <title>Django Girls blog Yuri Marcela Garcia</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog Marcela Garcia</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Ingeniera Electronica, apasionada en el desarrollo web Backend, especialmente en la arquitectura en la nube.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Amo mirar el atardecer y el sonido de las olas del mar, siento que es muy relajante e inspirador.</p>
        </div>
    </body>
</html>